

body {
    background-color: white;
}

h1 {
    font-size: xx-large;
    background-color: #604090;
    color: #ffff99;
    line-height: 100%;
    margin: 0mm;
    padding: 0mm;
    border-bottom: 2pt solid #9060ff;
}

div.links {
    text-align: center;
    background-color: #8060d0;
    margin-bottom: 2mm;
}

div.links a {
    text-align: center;
    color: #ffffbb;
    padding-left: 2mm;
    padding-right: 2mm;
    margin-right: 2mm;
    border-left: 1pt solid black;
    border-right: 1pt solid black;
}

div.links a:hover {
    color: white;
    background-color: #403060;
}

div.sect1 {
    background-color: white;
    margin-right: 50mm;
}

div.sect1 h1 {
    color: white;
    background-color: #8060d0;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0mm;
}

div.sect2 {
    background-color: white;
    margin-left: 5mm;
}

div.sect2 h2 {
    color: white;
    background-color: #8060d0;
    font-size: large;
    font-weight: bold;
}

div.sect3 {
    margin-left: 5mm;
}

div.sect3 h3 {
    color: white;
    background-color: #8060d0;
    font-size: medium;
    font-weight: bold;
}

div.sect4 h4 {
    color: white;
    background-color: #8060d0;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

div.sect5 h5 {
    color: white;
    background-color: #8060d0;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    left: 10mm;
}


div.sidebars {
    float: right;
    width: 45mm;
    margin: 0mm;
    clear: both;
}

div.sidebar {
    margin-right: 0mm;
    margin-bottom: 3mm;
    background-color: #ddbbff;
}

div.sidebar h6 {
    color: white;
    background-color: black;
    font-size: medium;
    font-weight: bold;
    margin: 0mm;
}

div.sidebar p {
    font-size: small;
    margin-top: 0mm;
    margin-bottom: 3mm;
}

img {
    border-style: none;
}

img.inline {
    float: right;
}

/*
 * Following styles are for displaying XML structures in HTML.
 * Used for documenting XML formats.
 */
div.xml {
    color: black;
    border: 1pt solid black;
    padding: 2mm;
    font-size: small;
}

div.xml p {
    margin: 0mm;
}

div.xmlindent {
    margin-left: 5mm;
}
 
span.node {
    color: darkblue;
    font-weight: bold;
}

span.text {
    color: black;
    font-weight: normal;
}

span.inline {
    font-size: 80%;
    color: red;
}

span.attribute {
    color: blue;
}

span.attribute-value {
    color: red;
}

span.comment {
    color: green;
    font-style: italic;
}

span.fixed {
    font-family: Courier;
}

span.menu {
    border: 1pt solid black;
    padding-left: 3pt;
    padding-right: 3pt;
    background-color: #eeeeee;
    font-size: small;
}

div.script {
    color: black;
    border: 1pt solid black;
    padding: 2mm;
    font-family: Courier;
    font-size: small;
}

dt {
    font-weight: bold;
}
